html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 100px;
    padding: 0;
    font-size: 15px;
}

nav {
    background-color: #333;
    margin: 0;
    overflow: hidden;
}

nav ul {
    margin: 0;
    padding-left: 5%;
}

nav ul li {
    display: inline-block;
    list-style-type: none;
    padding-right: 5%;
}

nav ul li:hover {
    background-color: gainsboro;
}

nav > ul > li > a {
    display: block;
    line-height: 2em;
    padding: 0.5em 0.5em;
    color: #aaa;
    font-size: 1.5em;
    text-decoration: none;
}

h1 {
    font-size: 3em;
    text-align: center;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    padding-top: 2%;
    background-color: #333;
    color: #aaa;
}

footer p {
    margin-left: 5%;
}

footer a {
    color: forestgreen;
    text-decoration: none;
}

h2 {
    font-size: 2em;
    text-align: center;
}

div ul {
    margin-left: 5%;
}

div li {
    margin-bottom: 2%;
    font-size: 1.1em;
}

div li a {
    color: forestgreen;
    text-decoration: none;
}