footer
    p View Engines homework.
    p Part of Telerik Academy course
        a(href="http://telerikacademy.com/Courses/Courses/Details/305", title="Course details") &nbspEnd To End Javascript Applications.