doctype html
html(lang="en")
    head
        title Mobile Store
        link(rel="stylesheet", href="../styles/main.css")
    body
        nav
            ul
                li
                    a(href="/home") Home
                li
                    a(href="/smartphones") Smartphones
                li
                    a(href="/tablets") Tablets
                li
                    a(href="/wearables") Wearables
